# **Modules **

In [1]:
from job_analyzer import *

calculate_salary(100000)
calculate_bonus(110000, 100000)

ModuleNotFoundError: No module named 'job_analyzer'

In [ ]:
help(calculate_salary)

# **Python Standard Library**

Statistics Module

In [ ]:
salary_list = [140000, 90000, 101000, 800000, 110000]

In [ ]:
from statistics import mean, mode, median

mean(salary_list)

statistics.mean(salary_list)

In [ ]:
statistics.mode(salary_list)

In [ ]:
statistics.median(salary_list)

# **Exercise: Cleaning Data**

In [ ]:
data_science_jobs = [
    {'job_title': 'Data Scientist', 'job_skills': "['Python', 'SQL', 'Machine Learning']", 'job_date': '2023-05-12'},
    {'job_title': 'Machine Learning Engineer', 'job_skills': "['Python', 'TensorFlow', 'Deep Learning']", 'job_date': '2023-05-15'},
    {'job_title': 'Data Analyst', 'job_skills': "['SQL', 'R', 'Tableau']", 'job_date': '2023-05-10'},
    {'job_title': 'Business Intelligence Developer', 'job_skills': "['SQL', 'PowerBI', 'Data Warehousing']", 'job_date': '2023-05-08'},
    {'job_title': 'Data Engineer', 'job_skills': "['Python', 'Spark', 'Hadoop']", 'job_date': '2023-05-18'},
    {'job_title': 'AI Specialist', 'job_skills': "['Python', 'PyTorch', 'AI Ethics']", 'job_date': '2023-05-20'}
]

datetime

In [ ]:
from datetime import datetime

In [ ]:
datetime.now()

datetime.datetime(2025, 3, 14, 16, 44, 19, 467654)

In [ ]:
test_date = data_science_jobs[0]['job_date']

In [ ]:
print(datetime.strptime(test_date, '%Y-%m-%d'))

2023-05-12 00:00:00

In [ ]:
import ast

for job in data_science_jobs:
    job['job_date'] = datetime.strptime(job['job_date'], '%Y-%m-%d')
    job['job_skills'] = ast.literal_eval(job['job_skills'])

In [ ]:
data_science_jobs

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'SQL', 'Machine Learning'],
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Deep Learning'],
  'job_date': datetime.datetime(2023, 5, 15, 0, 0)},
 {'job_title': 'Data Analyst',
  'job_skills': ['SQL', 'R', 'Tableau'],
  'job_date': datetime.datetime(2023, 5, 10, 0, 0)},
 {'job_title': 'Business Intelligence Developer',
  'job_skills': ['SQL', 'PowerBI', 'Data Warehousing'],
  'job_date': datetime.datetime(2023, 5, 8, 0, 0)},
 {'job_title': 'Data Engineer',
  'job_skills': ['Python', 'Spark', 'Hadoop'],
  'job_date': datetime.datetime(2023, 5, 18, 0, 0)},
 {'job_title': 'AI Specialist',
  'job_skills': ['Python', 'PyTorch', 'AI Ethics'],
  'job_date': datetime.datetime(2023, 5, 20, 0, 0)}]

# **Library**

In [ ]:
file = open('sample_data/california_housing_test.csv')

content = file.read()

file.close()

In [ ]:
import pandas as pd

contents = pd.read_csv('sample_data/california_housing_test.csv')

contents['total_bedrooms'].sum()

1589852.0

In [2]:
%pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
%pip install pyjokes

Collecting pyjokes
  Downloading pyjokes-0.8.3-py3-none-any.whl.metadata (3.4 kB)
Downloading pyjokes-0.8.3-py3-none-any.whl (47 kB)
Installing collected packages: pyjokes
Successfully installed pyjokes-0.8.3
Note: you may need to restart the kernel to use updated packages.

Common 3rd Party Libraries for Data


* Pandas
* Numpy
* Matplotlib etc.

# **Classes **

In [ ]:
class LukesList:
    def __init__(self):
        """Initialize an empty list."""
        self._items = []

    def add(self, item):
        """Add an item to the end of the list."""
        self._items.append(item)

    def __getitem__(self, index):
        """Retrieve an item by index."""
        return self._items[index]

    def __setitem__(self, index, value):
        """Set an item at a specific index."""
        self._items[index] = value

    def __repr__(self):
        """Return a string representation of the list."""
        return str(self._items)

    def __len__(self):
        """Return the length of the list."""
        return len(self._items)

In [ ]:
my_list = LukesList()

In [ ]:
my_list

[]

In [ ]:
my_list.add('Data Nerd')

In [ ]:
my_list

['Data Nerd']

In [ ]:
my_list.add("Hey")

In [ ]:
class BaseSalary:
  def __init__(self, base_salary, bonus_rate=0.1, symbol="$"):
    self.base_salary = base_salary
    self.bonus_rate = bonus_rate
    self.symbol = symbol
    self.total_salary = base_salary * (1 + bonus_rate)
    self.bonus = self.total_salary - self.base_salary

  def __repr__(self):
    return f'{self.symbol}{self.base_salary:,.0f}'

  def show_salary(self):
    return f'{self.symbol}{self.total_salary:,.0f}'

  def show_bonus(self):
    return f'{self.symbol}{self.bonus:,.0f}'

In [ ]:
data_salary = BaseSalary(100000, .2)

In [ ]:
data_salary.calculate_total_salary()

AttributeError: 'BaseSalary' object has no attribute 'calculate_total_salary'

In [ ]:
class BaseSalary:
  def __init__(self, base_salary, bonus_rate=0.1, symbol="$"):
    self.base_salary = base_salary
    self.bonus_rate = bonus_rate
    self.symbol = symbol
    self.total_salary = base_salary * (1 + bonus_rate)
    self.bonus = self.total_salary - self.base_salary

  def __repr__(self):
    return f'{self.symbol}{self.base_salary:,.0f}'

  def show_salary(self):
    return f'{self.symbol}{self.total_salary:,.0f}'

  def show_bonus(self):
    return f'{self.symbol}{self.bonus:,.0f}'

In [ ]:
salary = BaseSalary(100000, 0.2)

salary.symbol

'$'