# **Strings**

In [ ]:
"this is a string in double quotes"

'this is a string in double quotes'

In [ ]:
'This is the sring in single quotes'

'This is the sring in single quotes'

In [ ]:
"Python".lower()

'python'

In [ ]:
str.lower("PYTHON")

'python'

In [ ]:
skill = "Python"

In [ ]:
skill.lower()

'python'

In [ ]:
skill = "Python"

In [ ]:
skill.replace("P", "J")

'Jython'

In [ ]:
job_title = "Data Analyst" #rename Data as Doto

In [ ]:
job_title = job_title.replace("a", "o", 2)

In [ ]:
job_title.split(sep =" ", maxsplit=1)

['Doto', 'Analyst']

In [ ]:
str.__add__("Data", "Analyst")

'DataAnalyst'

In [ ]:
"Data" + " Analyst"

'Data Analyst'

In [ ]:
"Data Analyst" * 10

'Data AnalystData AnalystData AnalystData AnalystData AnalystData AnalystData AnalystData AnalystData AnalystData Analyst'

In [ ]:
len("Data Analyst")

12

String Formatting

In [ ]:
role = 'Data Analyst'
skill = 'Python'

In [ ]:
'Role :' + role

'Role :Data Analyst'

In [ ]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the front of the string and works to the end.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

Format Method.format()

In [ ]:
# format(...)
#  |      S.format(*args, **kwargs) -> str
#  |
#  |      Return a formatted version of S, using substitutions from args and kwargs.
#  |      The substitutions are identified by braces ('{' and '}').v
# Create the string " Role: Data Analyst "
role = 'Data Analyst'
skill ='Python'

"Role: {}".format(role)

'Role: Data Analyst'

In [ ]:
#Create the string "Role: Data Analyst; SKill Required: Python"
"Role: {}; Skill Required: {}".format(role, skill)

'Role: Data Analyst; Skill Required: Python'

f-String _ Formatted string literals

In [ ]:
role = 'Data Analyst'
skill = 'Python'

f"Role: {role}; Skill Required: {skill}"

'Role: Data Analyst; Skill Required: Python'

Join() Method

In [ ]:
years_experience = '123456789'

','.join(years_experience)

'1,2,3,4,5,6,7,8,9'

In [ ]:
skils = ['Python', 'SQL', 'Excel']
", ".join(skils)

'Python, SQL, Excel'

# **Operators: Part 1**

Arithmetic Operators
       Addition	    x + y
     Subtraction	    x - y
    Multiplication	  x * y
      Division	      x / y
       Modulus	      x % y
	 Exponentiation	    x ** y
   Floor division	    x // y

Comparsion Operators     
	Equal	x == y
	Not equal	x != y
Greater than	x > y
	Less than	x < y
Greater than or equal to	x >= y
Less than or equal to	x <= y

In [ ]:
'Whats Up' * 10

'Whats UpWhats UpWhats UpWhats UpWhats UpWhats UpWhats UpWhats UpWhats UpWhats Up'

In [ ]:
3.0 - 2

1.0

In [ ]:
# "What's up" - "up" will cost error

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
5 / 2

2.5

In [ ]:
5 // 2 # use floor divison to get a whole number

2

In [ ]:
5 % 2

1

In [ ]:
print("5 divied by 2 is", 5 // 2, "with a remainder of", 5 % 2)

5 divied by 2 is 2 with a remainder of 1

Order of Operators: PEMADS

In [ ]:
min_salary = 20_000 # _ is ignored by the interpreter
max_salary = 80_000

avg_salary = (min_salary + max_salary) / 2
print(avg_salary)

50000.0

In [ ]:
applicant_1 = "Kelly"
applicant_2 = "Luke"

In [ ]:
applicant_1, applicant_2 = applicant_2, applicant_1

In [ ]:
applicant_1, applicant_2

('Luke', 'Kelly')

In [ ]:
x = 1

In [ ]:
x  = x + 1

In [ ]:
x

2

In [ ]:
x = 1
x += 1

In [ ]:
x

2

In [ ]:
x = 1

In [ ]:
x *= 2

In [ ]:
x

2

In [ ]:
salary_kelly = 60_000
salary_luke = 40_000

In [ ]:
salary_kelly == salary_luke

False

In [ ]:
1 == 1

True

In [ ]:
if (salary_kelly > salary_luke):
    print("Kelly is making more than Luke")

Kelly is making more than Luke

# **Basics Conditional **

**if** : checks condition and if true excutes the code

**Elif**: The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition"

**Else** : The else keyword catches anything which isn't caught by the preceding conditions.

The **and** keyword is a logical operator, and is used to combine conditional statements

The **or** keyword is a logical operator, and is used to combine conditional statements

The **not** keyword is a logical operator, and is used to reverse the result of the conditional statement

In [ ]:
if True:
  print("Whats up Data Nerds")

Whats up Data Nerds

Will need indents for code to work

In [ ]:
job_skill = 'SQL'
applicant_skill = 'SQL'

In [ ]:
if job_skill == applicant_skill:
  print('You have the right skill')

You have the right skill

In [ ]:
job_skill = 'SQL'
applicant_skill = 'Python'
years_experience = 6

if job_skill == applicant_skill:
  print('You have the right skill')
elif years_experience >= 5:
  print('Enough Experience; NO SQL')

Enough Experience; NO SQL

In [ ]:
job_skill = 'SQL'
applicant_skill = 'Python'
years_experience = 3

if job_skill == applicant_skill:
  print('You have the right skill')
elif years_experience >= 5:
  print('Enough Experience; NO SQL')
elif applicant_skill == 'Python':
  print('This applicant should know SQL')
else:
  print('No Skill or Experience')

This applicant should know SQL

In [ ]:
if job_skill == applicant_skill:
  pass

# **List**

Lists, Dictionaries, Sets, Tuples

In [ ]:
job_skills = ['SQL', 'Tableau', 'Excel']

In [ ]:
job_skills.append('python')

In [ ]:
job_skills

['SQL', 'Tableau', 'Excel', 'python']

In [ ]:
job_skills.remove('Tableau')

In [ ]:
job_skills

['SQL', 'Excel', 'python']

In [ ]:
len(job_skills)

3

indexs of a list starts at 0

In [ ]:
job_skills[0]

'SQL'

In [ ]:
job_skills.insert(2, 'Tableau')

In [ ]:
job_skills

['SQL', 'Excel', 'Tableau', 'Tableau', 'python']

In [ ]:
job_skills.pop(2)

'Tableau'

In [ ]:
job_skills

['SQL', 'Excel', 'Tableau', 'python']

In [ ]:
job_skills.pop(1)

'Excel'

In [ ]:
job_skills

['SQL', 'Tableau', 'python']

# **Slicing**

Syntax: list[start:end:step]
start: the starting index,

end: the ending index,
step: Steps to take between items

In [ ]:
job_skills = ['sql', 'excel', 'python']

In [ ]:
job_skills[0:2]

['sql', 'excel']

In [ ]:
job_skills[:]

['sql', 'excel', 'python']

In [ ]:
job_skills[:1]

['sql']

In [ ]:
job_skills[::1]

['sql', 'excel', 'python']

In [ ]:
job_skills[::2]

['sql', 'python']

In [ ]:
job_skills[::3]

['sql']

In [ ]:
luke_skills = ['python', 'bigquery', 'r']
kelly_skills = ['python', 'sql', 'looker']

all_skills = luke_skills + kelly_skills
all_skills

['python', 'bigquery', 'r', 'python', 'sql', 'looker']

In [ ]:
all_skills[::2]

['python', 'r', 'sql']

In [ ]:
all_skills[5:]

['looker']

In [ ]:
all_skills[-1:]

['looker']

# **Unpacking**

In [ ]:
#Assign each value in a iterable to a vairable in a single statement

In [ ]:
job_skills = ['python', 'excel', 'sql', 'looker']

In [ ]:
skill1, skill2, skill3 = job_skills

In [ ]:
print(skill1)
print(skill2)
print(skill3)

python
excel
sql

In [ ]:
skill_concernded, *skill_dont_care = job_skills

In [ ]:
print (skill_concernded)
print (skill_dont_care)

python
['excel', 'sql', 'looker']

**Multables or Immutable** objects are based on wheter they can be altered after their creation

Mutable Items - Lists, Dictionaries, Sets

---

Immutable objects - Strings, Integers, Tuples

# **Dictionary**

For key-value pairs, unordered, duplicated values,

In [ ]:
job_type_skills = {
    'Database': 'postgresql',
    'language': 'python',
    'library': 'pandas'
    }

In [ ]:
job_type_skills['Database']

'postgresql'

In [ ]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If the key is not found, return the default if given; otherwise,
 |      raise a KeyError.
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  fromkeys(iterable, value=None, /)
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
job_type_skills.keys()

dict_keys(['Database', 'language', 'library'])

In [ ]:
job_type_skills.values()

dict_values(['postgresql', 'python', 'pandas'])

In [ ]:
job_type_skills.pop('library')

'pandas'

In [ ]:
job_type_skills

{'Database': 'postgresql', 'language': 'python'}

In [ ]:
job_type_skills.update({'cloud': 'google cloud'})

In [ ]:
job_type_skills

{'Database': 'postgresql', 'language': 'python', 'cloud': 'google cloud'}

In [ ]:
job_type_skills['cloud']

'google cloud'

In [ ]:
job_type_skills['version_control'] = 'git'

In [ ]:
job_type_skills

{'Database': 'postgresql',
 'language': 'python',
 'cloud': 'google cloud',
 'version_control': 'git'}

# **Sets**

Sets are ofr unique items, unorder, no index

In [ ]:
job_skills = {'tableau', 'python', 'sql', 'statistics'}

In [ ]:
job_skills

{'python', 'sql', 'statistics', 'tableau'}

In [ ]:
job_skills[1] #cant do this cause theres no index

TypeError: 'set' object is not subscriptable

In [ ]:
job_skills.add('looker')

In [ ]:
job_skills.pop() # random, no index

'python'

In [ ]:
job_skills.remove('tableau')

In [ ]:
job_skills

{'looker', 'sql', 'statistics'}

In [ ]:
skill_list = ['python', 'python','statistics', 'sql', 'sql', 'tableau', 'statistics']

In [ ]:
set(skill_list)

{'python', 'sql', 'statistics', 'tableau'}

# **Tuples**

Tuples are defined by (), fixed data (no changes), ordered, index

In [ ]:
luke_skill = ('python', 'sql', 'statistics','tableau')

luke_skill

('python', 'sql', 'tableau')

In [ ]:
luke_skill[0:2]

('python', 'sql')

In [ ]:
luke_skill.append('r') # doesnt work cause cant be changed

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
new_skill = ('r', 'excel')

In [ ]:
skills = luke_skill + new_skill
skills

('python', 'sql', 'tableau', 'r', 'excel')

# ** Range()**

In [ ]:
range(5)

range(0, 5)

In [ ]:
tuple(range(2,5))

(2, 3, 4)

In [ ]:
tuple(range(1,101, 2))

(1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99)

# **Operators: Part 2**

In [ ]:
job_work_from_home = True
job_health_insurance = False
job_no_degree_mention = True

job_work_from_home or job_health_insurance or not job_no_degree_mention

True

In [ ]:
if job_work_from_home or job_health_insurance or not job_no_degree_mention:
  print('You are eligible')

You are eligible

Membership Opertors: in, not in

In [ ]:
"data" in "Data nerd" #case

False

In [ ]:
job_skill = ['python', 'sql', 'tableau']

In [ ]:
'python' in job_skill

True

Idenitiy Operators: is ; is not

In [ ]:
salary_kelly = 200_000
salary_luke = 200_000

salary_kelly is salary_luke #not same id

False

In [ ]:
id(salary_kelly) is id(salary_luke)

False

Bitwise operators

In [ ]:
bin(42)

'0b101010'

# **LOOPS **



*   for loop
*   while loop

In [ ]:
analyst_list =[]

for job in job_list:
  if "Data Analyst" in job:
    analyst_list.append(job)

In [ ]:
numbers = [0,1,2,3,4,5]

for number in numbers:
  print(number)

0
1
2
3
4
5

In [ ]:
characters = 'PYTHON'

for character in characters:
    print(character)

P
Y
T
H
O
N

In [ ]:
years_experience ={
    'Luke': 3,
    'Kelly': 6,
    'Ken': 4,
    'Alex': 3
}

In [ ]:
import random
names = [
    "Alice", "Bob", "Charlie", "David", "Eva", "Frank", "Grace", "Hannah", "Ian",
    "Jack", "Kylie", "Liam", "Mona", "Nate", "Olivia", "Paul", "Quincy", "Rachel",
    "Sam", "Tina", "Uma", "Vince", "Wendy", "Xander", "Yara"
]

years_experience = {name: random.randint(1, 20) for name in names}


years_experience

{'Alice': 5,
 'Bob': 20,
 'Charlie': 18,
 'David': 18,
 'Eva': 5,
 'Frank': 19,
 'Grace': 10,
 'Hannah': 1,
 'Ian': 7,
 'Jack': 18,
 'Kylie': 11,
 'Liam': 6,
 'Mona': 8,
 'Nate': 12,
 'Olivia': 15,
 'Paul': 13,
 'Quincy': 9,
 'Rachel': 20,
 'Sam': 4,
 'Tina': 19,
 'Uma': 20,
 'Vince': 15,
 'Wendy': 4,
 'Xander': 10,
 'Yara': 3}

In [ ]:
years_experience ={
    'Luke': 3,
    'Kelly': 6,
    'Ken': 4,
    'Alex': 3
}

In [ ]:
for value in years_experience.values():
  print(value)

3
6
4
3

In [ ]:
for key, value in years_experience.items():
  if value >= 5:
    print(key, value)

Kelly 6

In [ ]:
for key, value in years_experience.items():
  if value >= 5:
    print(key, 'has', value, "years of experience")

Kelly has 6 years of experience

while loops: while the statement is true, it will countine running the code

In [ ]:
while False:
  print('Whats up')

In [ ]:
count = 1
while count < 5:
  print(count)
  count += 1

1
2
3
4

In [ ]:
years_experience ={
    'Luke': 3,
    'Kelly': 6,
    'Ken': 4,
    'Alex': 3,
    'Mary': 7
}

In [ ]:
years = 0
index = 0

years_list = list(years_experience.items())

while years < 5:
  key, years = years_list[index]
  if years >= 5:
    print(key, 'has', years, 'years of experience')
  index += 1

Kelly has 6 years of experience

# **List Comprehension**

In [ ]:
number = [x for x in range(100)]

In [ ]:
# longer way to do the code above
numbers = []

for number in range(100):
  numbers.append(number)

In [ ]:
numbers = [x for x in range(100)]

numbers

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [ ]:
# longer way to do code below
analyst_list =[]

for job in job_list:
  if "Data Analyst" in job:
    analyst_list.append(job)

NameError: name 'job_list' is not defined

In [ ]:
analyst_list =[job for job in job_list if True]

NameError: name 'job_list' is not defined

# **Exercise **

In [ ]:
my_skills = ['Python', 'SQL', 'Excel']

In [ ]:
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}
]

In [ ]:
qualified_roles = []

for job in job_roles:
  qualified = True

  for skill in my_skills:
    if skill not in job['skills']:
      qualified = False
      break


for job in job_roles:
  qualified = True

  for skill in my_skills:
    if skill not in job['skills']:
      qualified = False
      break
    if qualified:
      qualified_roles.append(job['role'])

print(qualified_roles)

['Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Scientist', 'Machine Learning Engineer', 'Data Engineer', 'Data Engineer', 'Business Intelligence Analyst', 'Business Intelligence Analyst', 'Business Intelligence Analyst', 'Quantitative Analyst', 'Operations Analyst', 'Operations Analyst', 'AI Engineer', 'Statistician']

In [ ]:
qualified_roles = []

for job in job_roles:
  if all(skill in job['skills'] for skill in my_skills):
    qualified_roles.append(job['role'])

print(qualified_roles)

['Data Analyst', 'Business Intelligence Analyst']

# **Functions**

built in functions

In [ ]:
print(my_skills)

['Python', 'SQL', 'Excel']

In [ ]:
type(my_skills)

list

In [ ]:
len(my_skills)

3

In [ ]:
import types
print([func for func in dir(__builtins__) if isinstance(getattr(__builtins__, func), types.BuiltinFunctionType)])

['__build_class__', '__import__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'breakpoint', 'callable', 'chr', 'compile', 'delattr', 'dir', 'divmod', 'eval', 'exec', 'format', 'getattr', 'globals', 'hasattr', 'hash', 'hex', 'id', 'isinstance', 'issubclass', 'iter', 'len', 'locals', 'max', 'min', 'next', 'oct', 'open', 'ord', 'pow', 'print', 'repr', 'round', 'setattr', 'sorted', 'sum', 'vars']

In [ ]:
data_salaries = [95000, 100000, 85000, 97000, 140000]

In [ ]:
min(data_salaries)

85000

In [ ]:
max(data_salaries)

140000

In [ ]:
sum(data_salaries)

517000

In [ ]:
sorted(data_salaries)

[85000, 95000, 97000, 100000, 140000]

# **user-defined functions**

In [ ]:
base_salary = 100000
bonus_rate = 0.1

# calculate total_salary of base_salarty * (1 + bonus_rate)

def calculate_salary(base_salary, bonus_rate):

  total_salary = base_salary * (1 + bonus_rate)
  return total_salary

In [ ]:
calculate_salary(base_salary, bonus_rate)

110000.00000000001

# **Lambda function**

lambda argument: expression

In [ ]:
mul_two = lambda x: x*2

In [ ]:
mul_two(3)

6

In [ ]:
(lambda x, y: x*2 + y)(3, 4)

10

In [ ]:
salary_list = [100000, 200000, 150000, 120000, 80000, 750000]
#base_salary = 100000

# calculate total_salary of base_salarty * (1 + bonus_rate)

#def calculate_salary(base_salary, bonus_rate=.1):

 #return base_salary * (1 + bonus_rate)


total_salary_list = [(lambda x: x * 1.1)(salary) for salary in salary_list]

total_salary_list

[110000.00000000001,
 220000.00000000003,
 165000.0,
 132000.0,
 88000.0,
 825000.0000000001]

In [ ]:
jobs_data = [
    {'job_title': 'Data Scientist',  'job_skills': ['Python', 'Machine Learning'], 'remote': True},
    {'job_title': 'Data Analyst',  'job_skills': ['Excel', 'SQL'], 'remote': False},
    {'job_title': 'Machine Learning Engineer', 'job_skills': ['Python', 'TensorFlow', 'Keras'], 'remote': True},
    {'job_title': 'Software Developer', 'job_skills': ['Java', 'C++'], 'remote': True},
    {'job_title': 'Data Scientist', 'job_skills': ['R', 'Statistics'], 'remote': False}
]

In [ ]:
list(filter(lambda job: job['remote'] and "Python" in ['job_skills'], jobs_data ))

[]

# **Modules**